*,
*::before,
*::after {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

/* Customer properties */

:root {
  --ff-primary: 'Roboto', sans-serif;

  --fw-reg: 400;
  --fw-bold: 700;

  --clr-light: #fff;
  --clr-dark: #0f0f0f;
  --clr-secondary: #dae5f5;
  --clr-accent: #16008b;

  --fs-h1: 2rem;
  --fs-h2: 1.75rem;
  --fs-h3: 1.25rem;
  --fs-body: 1rem;

  --bs: 0.25em 0.25em 0.75em rgba(0, 0, 0, 0.25),
    0.125em 0.125em 0.25em rgba(0, 0, 0, 0.15);
}

@media (min-width: 800px) {
  :root {
    --fs-h1: 3rem;
    --fs-h2: 1.9rem;
    --fs-h3: 1.4rem;
    --fs-body: 1.125rem;
  }
}

/* General styles */

::-webkit-scrollbar-track {
  -webkit-box-shadow: inset 0 0 6px #d9d9d9;
  border-radius: 10px;
}

::-webkit-scrollbar {
  height: 5px;
  width: 5px;
}

::-webkit-scrollbar-thumb {
  border-radius: 10px;
  -webkit-box-shadow: inset 0 0 6px #ffffff;
  background-color: #ffffff;
}

:disabled {
  color: gray;
  cursor: not-allowed;
  filter: grayscale(50%);
  opacity: 50%;
}

body {
  background-color: var(--clr-light);
  color: var(--clr-dark);
  font-family: var(--ff-primary);
  font-size: var(--fs-body);
  line-height: 1.6;
}

ul {
  list-style: none;
}

a {
  text-decoration: none;
  color: inherit;
}

button {
  cursor: pointer;
}

/* Root layout */

.root__layout {
  max-height: 100vh;
  height: 100vh;
}

@media screen and (min-width: 800px) {
  .root__layout {
    max-height: 100vh;
    height: 100vh;
    display: flex;
    justify-content: center;
  }
}

/* Add card styles */

.add_group__container {
  bottom: -200%;
  left: 0;
  position: fixed;
  height: 100vh;
  width: 100vw;
  background-color: #0000003f;
  backdrop-filter: blur(2px);

  display: flex;
  align-items: center;
  justify-content: center;

  transition: all 200ms ease-in-out;
}

.add_group__container.isVisible {
  bottom: 0;
}

.add_group__card {
  background-color: #fff;
  width: 90%;
  min-height: 35%;
  border-radius: 0.5em;
  padding: 1em;

  font-weight: var(--fw-bold);

  display: flex;
  flex-direction: column;
  justify-content: center;
  row-gap: 1.5em;
}

.add_group__header {
  font-size: var(--fs-h2);
  margin: 0;
}

.add_group__edit {
  display: flex;
  align-items: center;
  column-gap: 1em;
}

.add_group__edit > input {
  padding: 0.25em;
  border: 2px solid #cccccc;
  border-radius: 1em;
  text-indent: 0.5em;
  flex: 1;
}

.add_group__colors {
  display: flex;
  align-items: center;
  column-gap: 1em;
}

.colors__container {
  display: flex;
  align-items: center;
  column-gap: 0.2em;
}

.group__color {
  background-color: var(--clr-secondary);
  width: 30px;
  aspect-ratio: 1;
  border-radius: 50%;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
}

.selected_indicator {
  display: inline-block;
  width: 50%;
  height: 50%;
  border-radius: 50%;
}

.selected_indicator.selected {
  background-color: var(--clr-light);
}

.add_group__error {
  color: red;
  font-size: 1rem;
  font-weight: var(--fw-bold);
  align-self: center;
}

.add_group__btn {
  background-color: var(--clr-accent);
  color: var(--clr-light);
  padding: 0.4em 1em;
  width: 60%;
  border: none;
  border-radius: 0.5em;
  align-self: center;
  margin-top: 0.5em;
  font-size: var(--fs-h3);
}

@media screen and (min-width: 800px) {
  .add_group__card {
    max-width: 700px;
    max-height: 350px;
    padding: 1.5em;
  }

  .add_group__edit > input {
    padding: 0.4em;
  }

  .group__color {
    width: 45px;
  }

  .colors__container {
    column-gap: 1em;
  }

  .add_group__btn {
    width: fit-content;
    align-self: flex-end;
    margin-top: 0;
    padding: 0.4em 2em;
    font-size: inherit;
  }
}

/* Sidebar styles */

.sidebar {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  min-height: 100%;
  max-height: 100vh;
  width: 400px;
  flex: 1;
}

.sidebar__header {
  font-size: var(--fs-h2);
  align-self: flex-start;
  padding-inline: 1em;
}

.sidebar__grps {
  flex: 1;
  overflow: auto;
  padding: 0.5em;
  width: 100%;
}

/* list item styles */

.grp__item {
  font-size: var(--fs-h3);
  font-weight: var(--fw-bold);
  padding: 0.5em 0.8em;
  border-radius: 0.5em;
  transition: all 100ms ease-in-out;
}

.grp__item__link {
  display: flex;
  align-items: center;
  column-gap: 1em;
  overflow: hidden;
}

.grp__item + .grp__item {
  margin-top: 0.5em;
}

.grp__name {
  flex-shrink: 0;
}

.grp__logo {
  width: 60px;
  height: 60px;
  aspect-ratio: 1;
  color: var(--clr-light);
  background-color: var(--clr-accent);

  font-size: var(--fs-h3);
  font-weight: var(--fw-bold);

  display: flex;
  align-items: center;
  justify-content: center;

  border-radius: 50%;
}

/* Sidebar floating action button style */

.btn-fab {
  position: fixed;
  bottom: 20px;
  right: 20px;

  display: flex;
  align-items: center;
  justify-content: center;

  width: 70px;
  height: 70px;
  color: var(--clr-light);
  font-size: 50px;
  text-align: center;
  background-color: var(--clr-accent);

  border: none;
  border-radius: 50%;

  box-shadow: var(--bs);
}

@media screen and (min-width: 800px) {
  .sidebar__header {
    align-self: center;
  }

  .grp__item {
    font-size: var(--fs-h3);
    font-weight: var(--fw-bold);
  }

  .btn-fab {
    position: absolute;
    transition: all 100ms;
  }
  
  .btn-fab:hover {
    transform: scale(1.1);
  }

  .grp__item-active {
    /* background: rgba(47, 47, 47, 0.17); */
    background-color: var(--clr-secondary);
  }

  .grp__item:hover {
    background-color: rgba(47, 47, 47, 0.17);
  }
}

/* Group notes styles */
.notes__container {
  height: 100vh;
  flex: 2;
  width: 100%;
  background-color: var(--clr-secondary);
  display: flex;
  flex-direction: column;
}

.notes__header {
  min-height: 70px;
  display: flex;
  align-items: center;
  column-gap: 1em;
  padding: 0.75em 1em;
  color: var(--clr-light);
  background-color: var(--clr-accent);
  /* background-color: #eebbbb; */

  font-weight: var(--fw-bold);
}

.back__btn {
  min-width: 25px;
  min-height: 25px;
  display: flex;
  align-items: center;
}

.back__btn > img {
  width: 100%;
  height: 100%;
}

.notes__list {
  flex: 1;
  padding: 1em;
  overflow: auto;
}

.note__item {
  background-color: var(--clr-light);
  padding: 1em;
  border-radius: 0.5em;
  /* box-shadow: var(--bs); */
}

.note__item + .note__item {
  margin-top: 1em;
}

.note__item__meta {
  font-weight: 500;
  font-family: var(--ff-secondary);
  display: flex;
  column-gap: 0.5em;
  justify-content: flex-end;
  margin-top: 0.5em;
  text-transform: uppercase;
}

.note__editor {
  position: relative;
  padding: 1em;
  background-color: var(--clr-accent);
  height: 100%;
  max-height: 140px;
}

.note__editor > textarea {
  width: 100%;
  height: 100%;
  padding: 0.7em;
  border: none;
  border-radius: 0.5em;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.753) inset;
}

.note__add__btn {
  border: none;
  background-color: transparent;
  position: absolute;
  right: 30px;
  top: 45%;
  filter: drop-shadow(0.25em 0.25em 2px rgba(0, 0, 0, 0.25));
  transition: all 200ms;
}

.note__add__btn:hover:enabled,
.note__add__btn:active:enabled {
  filter: drop-shadow(0.35em 0.35em 1px rgba(0, 0, 0, 0.5));
  transform: scale(1.2);
}

.welcome__screen {
  background-color: var(--clr-secondary);
  max-height: 100vh;
  flex: 1;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
  padding-block: 3em;
}

.welcome__top {
  /* width: 60%; */
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  row-gap: 1em;
  max-width: 550px;
}

.welcome__top > h1 {
  margin: 0;
}

.welcome__image {
  width: 100%;
}

.welcome__bottom {
  display: flex;
  column-gap: 0.5em;
  align-items: center;
}

/* Sidebar responsiveness */
.hide-on-mobile-only {
  display: flex;
}

.show-on-mobile-only {
  display: none;
}

@media screen and (max-width: 800px) {
  .hide-on-mobile-only {
    display: none;
  }
  .show-on-mobile-only {
    display: block;
  }
}
